@media (max-width: 767px) {
    .top {

        
        &__star2 {
            display: none;
        }
        &__title {
            text-align: center;
            font-size: 40px;
            padding-top: 147px;
        }
        &__entry {
            font-size: 16px;
        }
        &__entry {
            text-align: center;
        }
        &__link {
            // display: block;
            margin-left: calc(50% - 124px);
            margin-right: calc(50% - 124px);
        }
        &__button {
            height: 55px;
            font-size: 16px;
        }
        &__star {
            position: absolute;
            background-image: url("./img/Star2.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 2;

            &-left {
                top: 97px;
                left: 37px;
                width: 35px;
                height: 35px;
            }
            &-right {
                // background-position: right;
                top: 557px;
                left: 256px;
                width: 18px;
                height: 18px;
            }
        }
        &__star1 {
            position: absolute;
            background-image: url("./img/Star3.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 3;

            &-left {
                top: 64px;
                left: 92px;
                width: 21px;
                height: 21px;
            }
            &-right {
                // background-position: right;
                top: 580px;
                left: 286px;
                width: 40px;
                height: 40px;
            }
        }
        &__star3{
            display: block;
            position: absolute;
            background-image: url("./img/Star.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: right;
            z-index: 3;
            width: 100vw;
            height: 150px;
            left: 0;
            top: 0;
        }
    }
    .center {
        padding-right: calc(50% - 172px);
        padding-left: calc(50% - 172px);
        }
    .about-games {
        &__title{
            display: none;

            &_mob {
                display: block;
                color: #FFFFFF;
                font-family: Montserrat;
                font-weight: 700;
                font-style: Bold;
                font-size: 40px;
                // leading-trim: NONE;
                line-height: 100%;
                letter-spacing: 0px;
                // vertical-align: middle;
                padding-top: 48px;
                padding-bottom: 48px;
            }
        }
        &__descriptions {
            display: none;
        }
        &__cards {
            display: flex;
            gap: 24px;
            background: none;
            flex-wrap: wrap;
            flex-direction: column;
        }
        &__article {
            max-width: 342px;
            // angle: 0 deg;
            opacity: 1;
            border-radius: 30px;
            background-color: #FFFFFF;
        }
        &__img {
            max-width: 342px;
        }
        &__button {
            display: none;
        }
        &__name {
            padding: none;
            margin-bottom: 0;
            margin-left: 29px;
            margin-top: 32px;
            padding-bottom: 16px;
        }
        &__description {
            display: block;
            max-width: 325px;
            padding-left: 29px;
            padding-bottom: 32px;
            color: black;
            font-family: Montserrat;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
        }
        &__button-play {
        display: block;
        padding-bottom: 16px;
        padding-top: 16px;
        background: #202027;
        box-sizing: border-box;
        border-radius: 33px;
        width: 285px;
        margin-left: 29px;
        // margin-bottom:   32px;
        height: 55px;
        font-size: 16px;
        line-height: 18px;
        color: #ffffff;
        border: none;
        transition: all 0.3s ease;
        }
    }
    

    .mini-games {
        display: none;
    }
    
    .footer {
        &__pravo {
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 60px;
            background: #BDED35;
        }
    }
}